* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #2c3333;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.cardBackground {
  border-radius: 25px;
  font-size: 40px;
  font-weight: 600;
  width: 300px;
  height: 250px;
  margin: 30px;
  border: none;
  box-shadow: 1px 2px 5px 1px black;
  opacity: 0.9;
  transition: all 0.4s ease;
}

.cardBackground:hover {
  transform: scale(1.1);
}

.cardLesson {
  width: 460px;
  background-size: cover;
  background-position: bottom center;
  height: 650px;
  border: none;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 20px gray;
}

.cardLesson:hover {
  transform: scale(1.1);
}
